:root {
    --bg: #222831;
    --bgAccent: #393E46;
    --textColor: #0092CA;
    --border: 5px solid #0092CA;
    --speed: 300ms;
  }

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--textColor);
}

footer {
    position: fixed;
    width: 100vw;
    background-color: var(--bg);
    height: var(--headerFooter);
    display: flex;
    color: whitesmoke;
    bottom: 0;
    align-items: center;
}

.footerCard {
    flex: 1;
}

.socialsLogos {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.socials h3 {
    text-align: center;
    text-decoration: underline;
}

.socialsLogoLink {
    flex: 1;
}

.socialsLogo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    background: none;
    filter: invert(39%) sepia(50%) saturate(1595%) hue-rotate(164deg) brightness(98%) contrast(103%)
}
